attrs
autopep8
cattrs
certifi
charset-normalizer
chess
chessboard-image
Cython
fastapi
fastjsonschema
idna
ipywidgets
jupyterlab
matplotlib
numpy
opencv-python
pandas
pillow
pycodestyle
pulp
python-chess
python-multipart
requests
scikit-learn
seaborn
torch
torchinfo
torchvision
tqdm
typing_extensions
urllib3
uvicorn[standard]
zstandard
